#%RAML 1.0
title: Radio Station API
version: v1
baseUri: http://api.samplehost.com
types:
  Show:
    properties:
      name: string
      description: string
      djId: string #TODO: Replace with expanded DJ object?
      broadcastInfo: object
      nextBroadcastTime: integer
      avatarUrl: string
      soundcloudUrl: string
    example:
      name: "The Greenroom"
      description: "A classically­ trained keyboardist and working musician based in Chicago, STUNNA (aka J. Cappo) has crafted his own unique sound within the fast­paced world of Drum + Bass music"
      djId: "2"
      broadcastInfo:
        location: "Chicago, IL, USA"
        dayOfWeek: "Wednesday"
        startTime: "14:00"
        endTime: "17:00"
      nextBroadcastTime: 1490814000
      avatarUrl: "http://bassdrive.com/img/radio_schedule_entries/image/original/stunnagreenroompromo1nufinalhalf-74.jpg"
      soundcloudUrl: "https://soundcloud.com/stunna"
resourceTypes:
  Collection:
    get:
      responses:
        200:
          body:
            application/json:
              type: Show[]
    post:
      body:
        application/json:
          type: Show
  Member:
    put:
      body:
        application/json:
          type: Show
    patch:
      body:
        application/json:
          type: Show
    delete:
      responses:
        204:

/config:
  get:
/nowPlaying:
  get:
  patch:
  put:
/shows:
  type: Collection
  /{id}:
    type: Member
/djs:
  get:
    responses:
      200:
        body:
          application/json:
  post:
    body:
      application/json:
  /{id}:
    delete:
      responses:
        204:
    put:
      body:
        application/json:
    patch:
      body:
        application/json:
