#%RAML 1.0
title: Radio Station
uses:
  RadioStation: RadioStation.raml
version: v1
baseUri: http://api.samplehost.com

types:
  Config: RadioStation.Config
  AuthenticationResponse: RadioStation.AuthenticationResponse
  NowPlayingInfo: RadioStation.NowPlayingInfo
  DJ: RadioStation.DJ
  Show: RadioStation.Show

/config:
  description: Station configuration.
  get:
    description: Fetch the current station configuration.
    responses:
      200:
        body:
          application/json:
            type: Config
/login:
  description: Authenticate with the station. Used by DJs or admins that have been manually registered with the station.
  post:
    description: Login to the station using username/password credentials to obtain a session token.
    body:
      application/x-www-form-urlencoded:
        properties:
          email: string
          password: string
        example:
          email: "dj1@stationdomain.com"
          password: "abc123"
    responses:
      200:
        body:
          application/json:
            type: AuthenticationResponse
      401:
        description: 401 Unauthorized response indicates that the credentials were not valid.
/nowPlaying:
  description: Now playing information.
  get:
    description: Fetch the current now playing information.
    responses:
      200:
        body:
          application/json:
            type: NowPlayingInfo
  put:
    is:  [RadioStation.Secured]
    description: Update the now playing information.
    body:
      application/json:
        type: NowPlayingInfo
/shows:
  type:  { RadioStation.Collection: {item : Show} }
  description: Retrieve/edit all of the station's shows.
  get:
    is:  [RadioStation.FilterableByDayOfWeek, RadioStation.FilterableByIsActive]
  /{id}:
    type:  { RadioStation.Member: {item : Show} }
    description: Retrieve/edit the details for a specific show.
/djs:
  type:  { RadioStation.Collection: {item : DJ} }
  description: Retrieve/edit DJs associated with the station.
  get:
    is:  [RadioStation.FilterableByIsActive]
  /{id}:
    type:  { RadioStation.Member: {item : DJ} }
    description: Retrieve/edit the details for a specific station DJ.
